 .gitignore
# Исключить виртуальное окружение
venv/
.env

# Исключить кэш Python
___pycache___/
*.py [cod]
# Исключить временные файлы IDE и редакторов 
.vscode/
*.code-workspace
# Файлы сборок и дистрибутивов 
build/
dist/
*.egg-info/
# Логи и файлы покрытия тестов 
*.log
.coverage
# Секретные и конфигурационные файлы окружения 
.env
# Игнорировать файлы базы данных PostgreSQL*
.psycopg2   